
.cartSummary {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    padding: 1.5rem;
}

.cartSummaryTitle {
    font-weight: 700;
}

.cartSummaryTotalProducts {
    font-size: 1.2rem;
    font-weight: 300;
    flex-basis: 8rem;
    flex-grow: 1;
}

.cartSummaryTotalPrice {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: end;
}