.productName {
  font-size: 1.1rem;
  font-weight: 300;
  flex-basis: 20rem;
  flex-grow: 1;
}

/* TODO: REFACTORING => productPrice - productPriceDisabled */
.productPrice {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
}

.productPriceDisabled {
  font-size: 1.3rem;
  font-weight: 500;
  color:#cccccc;
}

.productAddToCartButton {
  padding: 0.4rem;
  width: 90px;
  height: 45px;
  border-style: none;
  border-radius: 0.2rem;

  background-color: #8bbf01;
}

.productAddToCartButton:hover {
  cursor: pointer;
  background-color: #6ea024;
}

.productAddToCartButton:disabled {
  cursor: not-allowed;
  background-color: #cccccc;
}
