.productName {
  font-size: 1.1rem;
  font-weight: 300;
  flex-basis: 20rem;
  flex-grow: 1;
}

.productPrice, .productPriceDisabled {
  font-size: 1.3rem;
  font-weight: 500;
}

.productPrice {
  color: var(--text-color);
}

.productPriceDisabled {
  color: var(--text-disabled);
}

.productAddToCartButton {
  padding: 0.4rem;
  min-width: 90px;
  height: 45px;
  border-style: none;
  border-radius: 0.2rem;
  background-color: var(--primary-color);
}

.productAddToCartButton:hover {
  cursor: pointer;
  background-color: var(--dark-primary-color);
}

.productAddToCartButton:disabled {
  cursor: not-allowed;
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .productName {
    font-size: 1rem;
  }

  .productPrice, .productPriceDisabled {
    font-size: 1.2rem;
  }
}