
.productItemImage {
  border: 1px solid #c5c5c5;
}


.productItemName {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.productItemPrice {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: end;
  flex-basis: 8rem;
  flex-grow: 1;
}

.productItemTrashButton {
  padding: 0.5rem;
  width: 50px;
  height: 35px;
  border-style: none;
  background: transparent;
}

.productItemTrashButton:hover {
  cursor: pointer;
  background-color: var(--light-secondary-color);
}
