.productList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.product {
  display: flex;
  align-items: center;
  gap: 2rem;
  min-height: 65px;
  width: 100%;
}

@media (max-width: 768px) {
  .product {
    gap: 1rem;
  }
}